body{
    display: block;
    text-align: center;
}
main{
    background-color: #96a08c;
    width: 300px;
    justify-self: center;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 10px;

}
h1{
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
}
h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 0;
}
button{
   padding: 10px;
   background-color: brown;
   border: none;
}
#increament{
    color: white;
}
#decrease{
    color: white;
}
#reset{
    color: white;
}
#saved{
    color: white;
}
.btn{
    margin: 10px;
    border-radius: 20px;
    background-color: cadetblue;
    width: 250px;
    justify-self: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.innerbtn{
    padding-bottom: 20px;
}
.increament{
   padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
}
.increament:hover{
    background-color: rgb(14, 1, 37);
}
.decreament{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: blue;
}
.decreament:hover{
    background-color: rgb(15, 15, 161);
}
.reset{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: red;
}
.reset:hover{
    background-color: rgb(143, 6, 6);
}
.saved{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: green;
}
.saved:hover{
    background-color: rgb(1, 73, 1);
}